<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper
	namespace="com.yusys.bione.plugin.rptfav.repository.FavFolderMybatisDao">
	<select id="list"
		resultType="com.yusys.bione.plugin.rptfav.entity.RptFavFolder"
		parameterType="HashMap">
		select FOLDER_ID,FOLDER_NM,UP_FOLDER_ID,USER_ID
		from
		RPT_FAV_FOLDER
		where 1=1
		<if test="folderId != null">and FOLDER_ID = #{folderId}</if>
		<if test="folderNm != null">and FOLDER_NM like #{folderNm}</if>
		<if test="upFolderId != null">and UP_FOLDER_ID = #{upFolderId}</if>
		<if test="userId != null">and USER_ID = #{userId}</if>
		order by FOLDER_NM asc
	</select>
	<insert id="save"
		parameterType="com.yusys.bione.plugin.rptfav.entity.RptFavFolder">insert into
		RPT_FAV_FOLDER(FOLDER_ID,FOLDER_NM,UP_FOLDER_ID,USER_ID)
		values(#{folderId},#{folderNm},#{upFolderId},#{userId})</insert>
	<update id="update"
		parameterType="com.yusys.bione.plugin.rptfav.entity.RptFavFolder">
		update RPT_FAV_FOLDER
		<set>
			<if test="folderId != null">FOLDER_ID=#{folderId},</if>
			<if test="folderNm != null">FOLDER_NM=#{folderNm},</if>
			<if test="upFolderId != null">UP_FOLDER_ID=#{upFolderId},</if>
			<if test="userId != null">USER_ID=#{userId}</if>
		</set>
		where 1=1 and FOLDER_ID=#{folderId}
	</update>
	<delete id="delete" parameterType="HashMap">delete from RPT_FAV_FOLDER
		where 1=1
		and FOLDER_ID=#{folderId}</delete>

	<select id="reportInfo"
		resultType="com.yusys.bione.plugin.rptfav.web.vo.RptFavQueryinsVo"
		parameterType="HashMap">
		select
		s.INSTANCE_ID,s.QUERY_NM,s.REMARK,s.CREATE_USER,s.CREATE_TIME,i.user_name
		from RPT_FAV_FOLDER_INS_REL l,RPT_FAV_QUERYINS s,BIONE_user_info i
		where 1=1
		and s.INSTANCE_ID = l.INSTANCE_ID
		and i.user_id = l.user_id
		<if test="folderId != null">
			and l.FOLDER_ID = #{folderId}
		</if>
		<if test="userId != null">
			and l.USER_ID = #{userId}
		</if>
		<if test="instanceType != null">
			and l.instance_Type = #{instanceType}
		</if>
	</select>

<select id="reportInfo1"
		resultType="com.yusys.bione.plugin.rptfav.web.vo.RptFavQueryinsVo"
		parameterType="HashMap">
		select s.INSTANCE_ID,
                       s.QUERY_NM,
                       s.REMARK,
                       s.CREATE_USER,
                       s.CREATE_TIME,
                       l.instance_type,
                       i.user_name,
                       rpt.RPT_NUM,
                       r.rpt_id
                  from RPT_FAV_FOLDER_INS_REL l,
                       RPT_FAV_QUERYINS       s,
                       RPT_FAV_QUERYS_RPT_REL r,
                       BIONE_user_info        i,
                       RPT_MGR_REPORT_INFO    rpt
                 where 1 = 1
                   and s.INSTANCE_ID = l.INSTANCE_ID
                   and r.instance_id = l.instance_id
                   and i.user_id = l.user_id
                   and r.rpt_id = rpt.rpt_id
		<if test="folderId != null">
			and l.FOLDER_ID = #{folderId}
		</if>
		<if test="userId != null">
			and l.USER_ID = #{userId}
		</if>
		<if test="instanceType != null">
			and l.instance_Type = #{instanceType}
		</if>
	</select>
	
	<select id="del"
		resultType="com.yusys.bione.plugin.rptfav.entity.RptFavQueryins"
		parameterType="HashMap">
		delete from
		RPT_FAV_QUERYINS
		where 1=1
		<if test="instanceId != null">
			and INSTANCE_ID = #{instanceId}</if>
		<if test="createTime != null">
			and CREATE_TIME = #{createTime}</if>
		<if test="createUser != null">
			and CREATE_USER = #{createUser}</if>
		<if test="queryNm != null">
			and QUERY_NM = #{queryNm}</if>
		<if test="remark != null">
			and = #{remark}</if>

	</select>



	<!-- 文件夹及文件的list查询Vo -->

	<select id="listInstance"
		resultType="com.yusys.bione.plugin.rptfav.web.vo.RptFavFolderRelInsVo"
		parameterType="HashMap">
		select l.*,s.* from RPT_FAV_FOLDER_INS_REL l,RPT_FAV_QUERYINS s
		where
		1=1
		and l.instance_id = s.instance_id
		<if test="userId != null">
			and l.user_ID = #{userId}</if>
		<if test="folderNm != null">
			and s.query_Nm like #{folderNm}
		</if>
		order by query_Nm asc
	</select>


	<select id="findList"
		resultType="com.yusys.bione.plugin.rptfav.entity.RptFavFolder"
		parameterType="HashMap">
		SELECT
		*
		FROM
		RPT_FAV_FOLDER
		WHERE
		1=1 and
		folder_id IN
		(
		SELECT
		folder_id
		FROM
		RPT_FAV_FOLDER_INS_REL
		WHERE
		1=1 and
		instance_id IN
		(
		SELECT
		instance_id
		FROM
		RPT_FAV_QuERYINS
		WHERE
		1=1 
		<if test="folderNm !=null">
		and query_nm LIKE #{folderNm}
		</if> 
		)
		<if test="userId !=null"></if>
		AND user_id = #{userId} )
	</select>
	
	<select id="listFolder"
		resultType="com.yusys.bione.plugin.rptfav.entity.RptFavFolder"
		parameterType="HashMap">
		select f.FOLDER_ID,f.FOLDER_NM,f.UP_FOLDER_ID,f.USER_ID
		from
		RPT_FAV_FOLDER f, RPT_FAV_FOLDER_INS_REL l
		where 1=1
		<if test="instanceId != null">and l.instance_Id = #{instanceId}</if>
		<if test="userId != null">and l.user_Id = #{userId}</if>
		and l.FOLDER_ID = f.FOLDER_ID
		and l.user_id = f.user_id
	</select>
	<select id="findStoreItems" resultType="com.yusys.bione.plugin.datashow.web.vo.RptTreeNode" parameterType="HashMap">
		SELECT
		t2.INSTANCE_ID AS ID,
		t2.QUERY_NM    AS TEXT,
		t1.FOLDER_ID   AS UPID,
		'report'       AS TYPE,
		t2.INSTANCE_ID AS REALID,
		''        AS ICON
		FROM
		RPT_FAV_FOLDER_INS_REL t1
		JOIN
		RPT_FAV_QUERYINS t2
		ON
		t1.INSTANCE_ID = t2.INSTANCE_ID
		<where>
			<!-- 		01 - 报表批量查询（监管） -->
			<!-- 		02 - 报表指标查询（监管） -->
			<!-- 		03 - 指标数据查询 -->
			<!-- 		04 - 报表查询 -->

			<!-- 		其中，实例ID对应：01、02、03对应查询明细表，04直接对应报表管理主题中的报表信息表的[报表ID] -->
			t1.INSTANCE_TYPE=#{type}
			<if test="name != null and name != ''">AND t2.QUERY_NM LIKE #{name}</if>
			<if test="userId != null and name != ''">AND t1.USER_ID = #{userId}</if>
		</where>
	</select>
	
	<select id="findFolder" resultType="com.yusys.bione.plugin.datashow.web.vo.RptTreeNode" parameterType="HashMap">
		SELECT
		FOLDER_ID    AS ID,
		UP_FOLDER_ID AS UPID,
		FOLDER_NM    AS TEXT,
		'catalog'    AS TYPE,
		''      AS ICON,
		'true'       AS openStr
		FROM
		RPT_FAV_FOLDER
		<where>
			<if test="nodes != null and nodes.size() > 0">
				AND FOLDER_ID IN
				<foreach collection = "nodes" item="item"  open="("  separator="," close=")">#{item.upId}</foreach>
			</if>
			<if test="userId != null">AND USER_ID=#{userId}</if>
		</where>
	</select>

</mapper>
