<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yusys.biapp.frs.feedback.repository.FeedbackDao">
	<!-- 根据条件查询反馈任务列表 -->
	<select id="getFedbakInfos" parameterType="HashMap"
		resultType="com.yusys.biapp.frs.feedback.entity.FeedbackInfo">
		SELECT
			FB_ID,FB_NUM,FB_RPT_ID,FB_ORG,FB_DEPT,FB_USER,FB_DATE,FB_BACKGRD_TYPE,FB_BACKGRD,FB_DESC,
			FB_REASON_TYPE,FB_REASON_DESC,FB_CASE_DESC,PROG_IS_UPT,REQUIRE_ANS_USER,REPLY_DATE,DEV_USER,
			DEV_PLAN_TIME,TB_TRACE_STS,RESLOVE_STS,RESLOVE_DATE,FB_ATTACH_ID,
			tab.ORG_NO orgNo,
			tab.ORG_NM orgNm,
			attach.ATTACH_NAME attachName
		FROM 
			EAST_FEEDBACK_INFO info
		INNER JOIN
			(SELECT 
				org.ORG_NO, org.ORG_TYPE,org.ORG_NM, 
				org.ORG_LEVEL
         	FROM 
         		RPT_ORG_INFO org
         	WHERE 
         		org.ORG_TYPE = '04') tab
        ON 
        	FB_ORG = tab.ORG_NO
        LEFT JOIN
         	BIONE_MSG_ATTACH_INFO attach
        ON
			info.FB_ATTACH_ID = attach.ATTACH_ID
		where 1 = 1
		<if test="fb_num!=null and fb_num!=''">
			AND FB_NUM LIKE #{fb_num}
		</if>
		<!-- <if test="userId!=null and userId!=''">
			AND FB_ORG in (
				select 
  					b.obj_id
				from 
  					bione_auth_obj_user_rel b
				where 
  					b.user_id = #{userId}
				and 
  					b.obj_def_no = 'AUTH_OBJ_ORG')
		</if> -->
		<if test="fbOrgs != null">
			and (
			info.FB_ORG IN
			<foreach collection="fbOrgs" item="items" open="("
				separator=") or info.FB_ORG IN (" close=")">
					select distinct(o.org_no) from RPT_ORG_INFO o
					where 1=1
					and
						o.ORG_TYPE = #{items.orgType}
					and 
						<foreach collection="items.orgLike" item="orgLike" open=""
							separator=" or " close="">
							o.NAMESPACE like #{orgLike}
						</foreach>
			</foreach>
			)
		</if>
		<if test="fb_rpt_id!=null and fb_rpt_id!=''">
			AND FB_RPT_ID = #{fb_rpt_id}
		</if>
		<if test="fb_org!=null and fb_org!=''">
			AND FB_ORG = #{fb_org}
		</if>
		<if test="fb_dept!=null and fb_dept!=''">
			AND FB_DEPT = #{fb_dept}
		</if>
		<if test="fb_date!=null and fb_date!=''">
			AND FB_DATE = #{fb_date}
		</if>
		<if test="fb_trace_sts!=null and fb_trace_sts!=''">
			AND TB_TRACE_STS = #{fb_trace_sts}
		</if>
		<if test="fb_reslove_sts!=null and fb_reslove_sts!=''">
			AND RESLOVE_STS = #{fb_reslove_sts}
		</if>
	</select>
	
	<select id="findByFedbakId" parameterType="HashMap"
		resultType="com.yusys.biapp.frs.feedback.entity.FeedbackInfo">
		SELECT
			FB_ID,FB_NUM,FB_RPT_ID,FB_ORG,FB_DEPT,FB_USER,FB_DATE,FB_BACKGRD_TYPE,FB_BACKGRD,FB_DESC,
			FB_REASON_TYPE,FB_REASON_DESC,FB_CASE_DESC,PROG_IS_UPT,REQUIRE_ANS_USER,REPLY_DATE,DEV_USER,
			DEV_PLAN_TIME,TB_TRACE_STS,RESLOVE_STS,RESLOVE_DATE,FB_ATTACH_ID,
			tab.ORG_NO orgNo,
			tab.ORG_NM orgNm,
			AI.ATTACH_NAME attachName
		FROM 
			EAST_FEEDBACK_INFO info
		INNER JOIN
			(SELECT 
				org.ORG_NO, org.ORG_TYPE,org.ORG_NM, 
				org.ORG_LEVEL
         	FROM 
         		RPT_ORG_INFO org
         	WHERE 
         		org.ORG_TYPE = '04') tab
        ON
        	FB_ORG = tab.ORG_NO
        LEFT JOIN BIONE_MSG_ATTACH_INFO AI
        ON  INFO.FB_ATTACH_ID = AI.ATTACH_ID
        WHERE
        	FB_ID = #{fbid}
	</select>
	
	<!-- 新增反馈任务 -->
	<insert id="saveFedbakInfo" parameterType="com.yusys.biapp.frs.feedback.entity.FeedbackInfo">
		INSERT
		INTO
			EAST_FEEDBACK_INFO
			(
				FB_ID,
				FB_NUM,
				FB_RPT_ID,
				FB_ORG,
				FB_DEPT,
				FB_USER,
				FB_DATE,
				FB_BACKGRD_TYPE,
				FB_BACKGRD,
				FB_DESC,
				FB_REASON_TYPE,
				FB_REASON_DESC,
				FB_CASE_DESC,
				PROG_IS_UPT,
				REQUIRE_ANS_USER,
				REPLY_DATE,
				DEV_USER,
				DEV_PLAN_TIME,
				TB_TRACE_STS,
				RESLOVE_STS,
			    <!-- RESLOVE_DATE, -->
				FB_ATTACH_ID
			)
		VALUES
			(
				#{fbid},
				#{fbnum},
				#{fbrptid},
				#{fborg},
				#{fbdept},
				#{fbuser},
				#{fbdate},
				#{fbbackgrdtype},
				#{fbbackgrd},
				#{fbdesc},
				#{fbreasontype},
				#{fbreasondesc},
				#{fbcasedesc},
				#{progisupt},
				#{requireansuser},
				#{replydate},
				#{devuser},
				#{devplantime},
				#{tbtracests},
				#{reslovests},
				<!-- #{reslovedate}, -->
				#{fbattachid}
			)
	</insert>
	
	<insert id="saveBioneMsgAttachInfo" parameterType="com.yusys.bione.frame.message.entity.BioneMsgAttachInfo">
		INSERT
		INTO
			BIONE_MSG_ATTACH_INFO
			(
				ATTACH_ID,
				ATTACH_NAME
			)
		VALUES
			(
				#{attachId},
				#{attachName}
			)
	</insert>
	
	<!-- 删除反馈基本信息 -->
	<delete id="deleteFedbakInfo" parameterType="String">
		DELETE
		FROM
			EAST_FEEDBACK_INFO
		WHERE FB_ID = #{fbid}
	</delete>
	
	<!-- 删除附件信息 -->
	<delete id="delById" parameterType="HashMap">
		DELETE
		FROM
			BIONE_MSG_ATTACH_INFO 
		WHERE ATTACH_ID = #{tempRptId}
	</delete>

	<!-- 修改反馈信息 -->
	<update id="updateFedbakInfo" parameterType="com.yusys.biapp.frs.feedback.entity.FeedbackInfo">
		UPDATE
			EAST_FEEDBACK_INFO
		SET
			FB_NUM = #{fbnum},
			FB_RPT_ID = #{fbrptid},
			FB_ORG = #{fborg},
			FB_DEPT = #{fbdept},
			FB_USER = #{fbuser},
			FB_DATE = #{fbdate},
			FB_BACKGRD_TYPE = #{fbbackgrdtype},
			FB_BACKGRD = #{fbbackgrd},
			FB_DESC = #{fbdesc},
			FB_REASON_TYPE = #{fbreasontype},
			FB_REASON_DESC = #{fbreasondesc},
			FB_CASE_DESC = #{fbcasedesc},
			PROG_IS_UPT = #{progisupt},
			REQUIRE_ANS_USER = #{requireansuser},
			REPLY_DATE = #{replydate},
			DEV_USER = #{devuser},
			DEV_PLAN_TIME = #{devplantime},
			TB_TRACE_STS = #{tbtracests},
			RESLOVE_STS = #{reslovests},
			<!-- RESLOVE_DATE = #{reslovedate}, -->
			FB_ATTACH_ID = #{fbattachid}
		WHERE
		 	FB_ID = #{fbid}
	</update>
	
	<select id="findFdByNm" parameterType="HashMap" resultType="Integer">
		SELECT
			COUNT(ins.FB_NUM)
		FROM
			EAST_FEEDBACK_INFO ins
		WHERE FB_NUM = #{fdNm}
	</select>
	
	<select id="findFdIdByNm" parameterType="HashMap" resultType="String">
		SELECT
			FB_ID
		FROM
			EAST_FEEDBACK_INFO 
		WHERE FB_NUM = #{fdNm}
	</select>
	
	<select id="queryAllFdnum" resultType="String">
		SELECT
			FB_NUM
		FROM
			EAST_FEEDBACK_INFO 
	</select>
	
	<select id="getAttachList" parameterType="HashMap" resultType="com.yusys.biapp.frs.feedback.web.vo.FdAttachVO">
		SELECT
			info.ATTACH_ID     attachId,
			info.ATTACH_NAME   attachName,
			info.ATTACH_TYPE   attachType
		FROM
			BIONE_MSG_ATTACH_INFO info
		WHERE info.ATTACH_ID = #{tempRptId}
	</select>
	
	<select id="findIdById" parameterType="HashMap" resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			BIONE_MSG_ATTACH_INFO info
		WHERE 
			info.ATTACH_ID = #{tempRptId}
	</select>
	
</mapper> 
	