#left {
	float: left;
	width: 42%;
	border-width: 1px;
	border-style: solid;
	border-color: #D6D6D6;
	margin-top: 10px;
	margin-left: 25px;
	
}

#right {
	width: 42%;
	float: right;
	border-width: 1px;
	border-style: solid;
	border-color: #D6D6D6;
	margin-top: 10px;
	margin-right: 25px;
}

#bottom {
	margin: 0 auto;
	width:600px;
	padding-top:8px;
	position: relative;
}

*+html #bottom {
	padding-left: 17px;
} /*ie7*/
#all {
	width: 100%;
}