html {
	width: 100%;
	height: 100%;
	margin: 0 0 0 0;
	overflow-x: hidden;
	overflow-y: hidden;
	background-color: #F1F1F1;
}

#navi a {
	color: #8E9BAC;
	text-decoration: none;
}

#msg img{
	text-align:center;
	vertical-align:middle;
	padding-bottom: 3px;
}
#msg span.new{
	color: #3186C8;
}
#msg span.old{
	color: auto;
}
#navi a:hover {
	color: #ffffff;
	/*	text-decoration: underline;*/
}

#header {
	height: 94px;
	margin: 0px;
	width: 100%;
}

#logo {
	height: 49px;
	float: left;
	width: 200px;
	padding: 0px;
	margin-left: 20px;
}

#menu {
	height: 30px;
	width: 100%;
	margin: 0px;
}

#mainContent {
	margin-bottom: 0px;
	width: 100%;
	z-index: 101;
	width: 100%;
}

#sidebar {
	float: left;
	/*width: 200px;*/
	background-color: #417EB7;
	padding-top: 15px;
}

#sidebarbutton {
	float: left;
	background: url(../../images/classics/index/sidebar_bg.jpg);
	position: relative;
	z-index: 100;
}

#open-close-sidebar {
	position: relative;
	float: left;
	width: 8px;
	height: 41px;
	cursor: pointer;
}

.sidebar_open {
	background: url(../../images/classics/index/sidebarbtn_open.png)
		no-repeat -4px;
}

.sidebar_close {
	background: url(../../images/classics/index/sidebarbtn_close.png)
		no-repeat -4px;
}

#content {
	float: right;
	background-color: #F1F1F1;
	position: relative;
	z-index: 1;
	margin-top: 8px;
}

#contentFrame {
	width: 100%;
	height: 0px;
}

.framevisible {
	visibility: visible
}

#footer {
	font-size: 12px;
	color: #616161;
	height: 20px;
	width: 100%;
	position: absolute;
	bottom: 0;
	background-color: #F1F1F1;
}

#navigation { /*border: 1px solid #5263AB;*/
	margin: 0px;
	padding: 0px;
	text-indent: 0px;
	background-color: #417EB7;
	width: 200px;
	margin-top: 1px;
}

#navigation a {
	color: #FFFFFF;
	cursor: pointer;
	text-decoration: none;
	display: block;
	padding-right: 20px;
	width: 175px
}

#navigation a:hover { /*	color: #FFFFA2;*/
	
}

#navigation div.head {
	font-weight: bold;
	font-size: 12px;
	color: #FFFFFF;
	background-image: url(../../images/classics/index/titlebar.png);
	margin-bottom: 0px;
	position: relative;
	height: 30px;
	overflow: hidden;
	cursor: pointer;
	line-height: 30px;
	vertical-align: middle;
	z-index: 1;
}

#navigation div span {
	display: inline-block;
}

#navigation div.selected {
	/*	background-image: url(../../images/classics/index/titlebar-active.png);*/
	
}

#navigation div.selected a { /*	color: #334B67;*/
	
}

#navigation ul {
	border-width: 0px;
	margin: 0px;
	padding: 0px;
	text-indent: 0px;
	z-index: 1;
	background-color: #95B9D9;
}

#navigation li {
	list-style: none outside none;
	display: inline;
}

#navigation .head .headstateicon {
	position: absolute;
	bottom: 0;
	padding-right: 10px;
	right: 0px;
	width: 10px;
	height: 30px;
	background: url(../../images/classics/index/submenu_right.png) no-repeat
		0px 12px;
	display: inline-block;
}

#navigation .space {
	height: 2px;
	background: url(../../images/classics/index/navi_space_bg.jpg);
	font-size: 1px;
	overflow: hidden;
}

#navigation .single-menu-item .headstateicon {
	position: absolute;
	bottom: 0;
	padding-right: 10px;
	right: 0px;
	width: 10px;
	height: 30px;
	background: url(../../images/classics/index/submenu_down.png) no-repeat
		0px 12px;
	display: inline-block;
}

#navigation .single-menu-item-icon {
	padding-left: 15px;
}

#navigation .selected .headstateicon {
	position: absolute;
	bottom: 0;
	padding-right: 10px;
	right: 0px;
	width: 10px;
	height: 30px;
	background: url(../../images/classics/index/submenu_down.png) no-repeat
		0px 12px;
	display: inline-block;
}

#navigation  li li {
	vertical-align: middle;
	height: 25px;
	line-height: 25px;
	display: block
}

#navigation  li li span {
	display: inline-block;
}

#navigation  li li a {
	padding-left: 28px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	width: 150px;
	vertical-align: middle;
	font-weight: normal;
}

#navigation  li li a:hover {
	background-color: #417EB7;
	/*	color: #FFFFA2;*/
}

#currentTitle {
	height: 35px;
	background: url(../../images/classics/index/navi_title_bg.png);
	line-height: 35px;
	font-weight: bold;
	font-size: 14px;
	width: 200px;
}

#currentTitle img {
	margin-left: 15px;
}

.single-menu-item .ui-icon {
	display: none !important;
}

.single-menu-container {
	
}

#userhead td img {
	display: block;
}

#userhead {
	position: absolute;
	z-index: 8000;
	left: 10px;
	top: 75px;
	width: 51px;
	height: 51px;
}

.progressBar {
	display: block;
	width: 148px;
	height: 28px;
	top: 50%;
	left: 50%;
	margin-left: -120px;
	margin-top: -50px;
	padding: 10px 10px 10px 50px;
	text-align: left;
	line-height: 27px;
	font-weight: bold;
	position: relative;
	z-index: 2001;
	border: solid 2px #417EB7;
	background: #FFF url(../../images/classics/index/progressBar_m.gif)
		no-repeat 10px 10px;
}

/*update by WY 2016-12-15 sta*/
#header{background-color:#fff;height: 93px;position: relative;}
.sh-rpt-headBar{display: block; height: 55px;line-height: 55px;background-color: #f9f9f9;}
.sh-rpt-userInfo{float: left;padding-left: 10px;color: #666;}
.sh-rpt-headTools{float: right;padding-right: 10px;}
.sh-rpt-headTools>a:link,.sh-rpt-headTools>a:active{color: #666;font-size: 24px;text-decoration: none;padding-left: 20px;position: relative;}
.sh-rpt-headTools>a:hover{text-decoration: none;background-color: #f4f4f4;color:#71c9f9;}
.sh-rpt-headTools>a:active{color: #71c9f9;}
.sh-rpt-headTools>a>img{position: absolute; width: 16px;height: 16px;vertical-align: -moz-middle-with-baseline;left: 0;top: 0;}
.sh-rpt-logo{position: absolute;top:8px;z-index: 1; padding-left: 125px; height: 40px;line-height: 40px;left: 20px;background: url(../../images/classics/login/pic_02_1.png) left center no-repeat;}
.sh-rpt-logo>span{display: block;height: 100%; border-left: 1px #999 solid;font-size: 20px;color: #333;padding-left: 10px;}
#menu{width:100%; background-color:#4b9efb; height: 40px; line-height:40px; float:left; overflow: hidden;}
#frameMenuLeft{width:10px; background-color:#4b9efb; height: 40px; line-height:40px; float:left; margin-top:0px; padding-left: 30px;}
#frameMenuRight{width:40px; background-color:#4b9efb; height: 40px; line-height:40px; float:right; margin-top:0px}
#content {margin-top: 5px;}
#mainContent{background-color: #fcfcfc;}
#tab{background-color: #fcfcfc;}
.l-tab-links{position: relative; background: none;background-color: #fcfcfc;}
.l-tab-content{padding-top: 5px;}
/*update by WY 2016-12-15 end*/
/*新增*/
.sh-rpt-headTools>a{padding:15px 20px;top:5px}
.sh-rpt-headTools>a i{font-size:12px; width:18px;height:18px;line-height:18px;background-color:#ff0101;color:#fff;position:absolute;text-align:center;border-radius:50%;font-style:normal;top:5px;right:8px;}
.l-text-field-null{color:#fff}
.l-text{background:none;}
input:focus{outline:none;}
.b-search{width: 18px; height: 18px; font-size: 18px; position: absolute; top: 17px; z-index: 2; padding-left: 10px;cursor:pointer;}
.icon-search-01:before{color:#fff;}
.userInfo{width:40px;line-height:40px;height:40px;border-radius:50%;text-align:center;font-size:18px;background-color:#e6e7e8;display:inline-block;margin-right:10px;}
 .userInfoA{display:inline-block;cursor:pointer;}
 /*标签页修改*/
 .l-tab-links{border-bottom:1px solid #4bbdfb;box-shadow:0 0 1px 0 #4bbdfb}
 .l-tab-links li{background-image:none;}
 .l-selected .l-tab-links-item-left{background-image:none;}
 .l-selected .l-tab-links-item-right{background-image:none;}
 .l-tab-links li{border:1px solid #4bbdfb;border-top-left-radius:5px;border-top-right-radius:5px;}
 .l-tab-links li.l-selected{background-image:none; background-color:#f5f5f5;border-bottom:1px solid #f5f5f5 !important;}
 .l-tab-links li.l-selected a{color:#4bbdfb}